---
import "../../styles/global.css";
---

<button 
   id="generar-nuevo-menu"
   class="bg-green-500 hover:bg-green-600 text-white px-6 py-2 rounded-full font-semibold transition duration-200"
 >
  Generar menú aleatorio
</button>