---
import { db } from '../../lib/db';
import "../../styles/global.css";


const animal = await db
  .selectFrom('ingredients')
  .selectAll()
  .where('ingType_ID', '=', 2)
  .execute();

  console.log(animal);
---

<form method="GET" action="/menu" class="max-w-md mx-auto mt-6">
  <div class="bg-white rounded-xl shadow-lg p-6">
    <h2 class="text-xl font-semibold mb-4 text-gray-800 text-center">Selecciona tus Alimentos de origen animal</h2>
    <ul class="space-y-3">
      {animal.length > 0 ? (
        animal.map(ani => (
          <li key={ani.ingredient_ID}>
            <label class="flex items-center space-x-3">
              <input type="checkbox" name="vegetales" value={ani.ingredient_ID} class="accent-green-600 h-4 w-4 rounded" />
              <span class="text-gray-700">{ani.nombre_Ingrediente}</span>
            </label>
          </li>
        ))
      ) : (
        <li class="text-gray-500 text-center">No hay vegetales disponibles.</li>
      )}
    </ul>
    <button
      type="submit"
      class="mt-6 w-full bg-purple-600 hover:bg-purple-700 text-white px-5 py-2 rounded-full font-medium transition"
    >
      Generar menú con ingredientes seleccionados
    </button>
  </div>
</form>